  
  body {
    background-color: rgb(156, 155, 155);
    background-image: url("../images/DSC06635.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed, scroll;
    color: white;
    line-height: 1.7;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 15px;
    text-align:center;
    padding-bottom: 250px;
  }

  nav ul {
    display: flex;
  }
  
  nav ul li {
    list-style-type: none;
    margin-right: 15px;
  }
  
  a {
    color: white;
    text-decoration: none
  }

  h1 {
  text-align: center;
  font-weight: lighter;
  margin: 3em;
  }

  .line {
    font-size: 25px;
  }

  section {
    display: flex;                                                                                
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10em;
  }

  h2 {
    color: black;
    margin-right: 35px;
  }

  .ABOUTme {
    flex-direction: column;
    /* margin: 5em; */
  }

  #ABOUT img {
    width: 10%;
    border: 5px solid white;
  }

  .WORKproject{
    flex-direction: column;
    justify-content: center;
    /* margin: 5em; */
  }

  .WORK h3 {
    justify-content: flex-start;
    color: rgb(83, 80, 80);
  }

  #WORK img {
    width: 30%;
    float: left;
  }
 
  #WORK P {
    vertical-align: center;
  }
  
  #CONTACT {
    background-color:rgb(156, 155, 155);
    margin: 5em;
  }

  .CONTACTinfo {
    flex-direction: column;
    margin: 5em;
  }

  #CONTACT img {
    width: 15%;
    border: 10px solid white;
  }
  
  .In {
    font-weight: bolder;
    font-size: 20px;
  }
